body{
    background: black;
    margin: 0;
}
h1{
  color: #ffffff;
  font-size: 50px;
  text-align: center;
}
.container{
  color: #ffffff;
  font: 20px bold;
  display: flex;
  position: absolute;
  left: 25%;
  top: 30%;
  width: 50%;
  height: 30%;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
}
span{
    display: block;
    margin: 10px;
    width: 50%;
    height: 100%;
    font-size: 100px;
    padding-top: 1em;
    color: #ffffff;
    text-align: center; 
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow:  2px 2px 2px 2px  wheat;
}